@use 'styles/global-sizes';
@use 'styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  gap: global-sizes.$gap-items-md-size;
  
  .formInput{
    display: flex;
    align-items: flex-end;
    gap: global-sizes.$gap-items-md-size;

    @include mixins.media-query(sm){
      flex-direction: column;
    }
  }

  & .titleSearchISBN {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}