@use 'styles/global-sizes';

.container{
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: global-sizes.$gap-items-md-size;
  
  .listItems{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    height: 150px;
    overflow-y: auto;
  }
  
  .addListContainer{
    display: flex;
    flex-direction: column;
    gap: global-sizes.$gap-items-md-size;
  }
}