@use 'styles/color-variables';
@use 'styles/global-sizes';
@use 'styles/mixins';

.container{
  display: flex;
  flex-direction: column;
  gap: global-sizes.$gap-items-sm-size  
}

.titleWrapper{
  display: flex;
  flex-direction: column;
}

.bookStatusContainer{
  display: flex;
  flex-direction: row;
  gap: global-sizes.$gap-items-sm-size  ;

  @include mixins.media-query(sm){
    flex-direction: column;
  }

  .bookStatusItem{
    display: flex;
  }
}